<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
  </head>
  <body>
    <h1>Detail Comment</h1>
    <h3>ID: <%= showComment.id %> | <%= showComment.username %></h3>
    <p><%= showComment.text %></p>
    <a href="/comments">&laquo;Back</a>
  </body>
</html>
